<div ng-switch on="actIsThumb">
    <div ng-switch-default>
        <a href="javascript:void 0" ng-click="addDishClick()">
            <img src="images/dishDetails/click01.png" alt="" style=" width: 25px;margin-left: 100px;margin-top: -47px">
        </a>
    </div>
    <div ng-switch-when="true">
        <a href="javascript:void 0" ng-click="deleteDishClick()">
            <img src="images/dishDetails/click02.png" alt="" style=" width: 25px;margin-left: 100px;margin-top: -47px">
        </a>
    </div>
    <div ng-switch-when="false">
        <a href="javascript:void 0" ng-click="addDishClick()">
            <img src="images/dishDetails/click01.png" alt="" style="width: 25px;margin-left: 100px;margin-top: -47px">
        </a>
    </div>
</div>