.con{
    width: 100%;
    /*background-color: #FAE8C8;*/
    background-color: #F5F5F5;
    padding-bottom: 40px;
}
.con .dish-title:hover{
    color: red;
}
#slider_show {
    width: 80%;
    padding-top: 50px;
    margin: auto;
}
#slider_show img {
    width: 100%;
    border-radius: 8px;
}
.con_div{
    width: 74%;
    /*background-color: grey;*/
    margin: auto;
}
.title{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
 .con_div .appropriate_menu{
    padding: 0;
}
 .appropriate_menu img {
     height: 157px!important;
 }
.fv_div{
    background-color: white;
    width: 97%;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}
.fv_div_type{
    width: 100%;
    padding-top: 10px;
    overflow: hidden;
}
.fv_div_type div{
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
}
.fv_div_type1 {
    background-color: red;
    color: white;
}
.topic_orders{
    color: red;
}
.fv_div_type01{
   padding-top: 10px;
}
.fv_div_type01 .div{
    padding: 0;
    border: none;
}
.fv_div_type01 .div p{
    font-size: 12px;
    color: black;
}
.fv_div_type01 .div p:hover{
    color: red;
}

.nh{
    padding-top: 30px;
}
.a{
    background-color: white;
    margin-bottom: 20px;
}
.a .thumbnail{
    padding: 0;
    border-radius: 0;
    border: none;
    margin-bottom: 0;

}
.a h5:hover{
    color: red;
    font-size: 16px;
    font-weight: 600;
    text-decoration:underline;
    text-decoration-color: red;
}
@media (max-width: 980px){
    .index-container .thumbnail img{
        width:100%!important;
    }
}
/*首页轮播*/
.carousels{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;flex-direction: row;
    position: relative;
    /*z-index: 100;*/
}
.carousels img{
    width: 100%;
    height: 330px;
}
.bg_img_left_right{
    overflow: hidden;
    /*position: relative;*/
}
.left_right{
    flex: 1;
}
.center{
    flex: 2;
}
.opacitys{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;flex-direction: row;
    height: 80px;
    top: 250px;
    margin-bottom: 0;
    background-color: whitesmoke;
    padding-top:14px;
    box-sizing:border-box ;
    opacity: 0.8;
    position:absolute;
    z-index: 500;
}
.bg_img_left_right .opacitysl{
    width: 12.5%;
    top: 0px;
    height: 330px;
    position: absolute;
    background-color: whitesmoke;
    opacity: 0.8;
    z-index: 600;
}
.bg_img_left_right .opacitysr{
    width: 12.5%;
    top: 0px;
    height: 330px;
    position: absolute;
    background-color: whitesmoke;
    opacity: 0.8;
    z-index: 600;
}
.sanjiaol{
    width: 0px;
    height: 0px;
    border-top:36px solid transparent;
    border-right: 36px solid rgba(0,0,0,0.5);
    border-bottom: 36px solid transparent;
    border-left:36px solid transparent;
}
.ractangle{
    width: 136px;
    height: 72px;
    background-color:rgba(0,0,0,0.5);
}
.sanjiaor{
    width: 0px;
    height: 0px;
    border-top:36px solid transparent;
    border-right: 36px solid transparent;
    border-bottom: 36px solid transparent;
    border-left:36px solid rgba(0,0,0,0.5);
}
.arrowl{
    width: 208px;
    position: absolute;
    z-index: 700;
    top: 120px;
    left: 72px;
    overflow: hidden
}
.arrowr{
    width: 208px;
    position: absolute;
    z-index: 700;
    top: 120px;
    right: 72px;
    overflow: hidden;
}
.arrow_text_big{
    color: white;
    font-size: 24px;
    font-weight: 500;
}
.arrow_text_small{
    color: white;
}
.opacitys .arrow_text_bigo{
    font-size: 24px;
    font-weight: 500;
}
.opacitys .text_left{
    padding-left: 20px;
}
.opacitys .detaile{
    width:82px;
    position: absolute;
    top: -6px;
    left: 6%;
    overflow: hidden
}
.opacitys .detaile1{
    width:82px;
    position: absolute;
    top: -6px;
    left: 31%;
    overflow: hidden
}
.opacitys .detaile2{
    width:82px;
    position: absolute;
    top: -6px;
    left: 56%;
    overflow: hidden
}
.opacitys .detaile3{
    width:82px;
    position: absolute;
    top: -6px;
    left: 81%;
    overflow: hidden
}

.opacitys .detaile_ractangle{
    width: 76px;
    height: 30px;
    background-color: #60A531;
    float: left;
    text-align: center;
    color: white;
    line-height: 30px;
}
.opacitys .sanjiao2{
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    float: right
}
/*时间轴部分*/
.timeLine{
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    /*position: relative;*/
    background-color:white;
}
.timeLine_left{
    height:50px;
    line-height: 50px;
    color: #999;
    font-size: 14px;
    text-align: center;
    border-top: 4px solid #aaa;
    position: relative;
}
.center1{
    flex: 6;
    display: flex;
}
.hours{
    border-right: 2px solid #c3c3c3;
    height: 16px;
}
.mimutes{
    border-right: 2px solid #dfdfdf;
    height: 8px;
    position: absolute;
}
.timeLine_center{
    height:50px;
    line-height: 50px;
    color: #999;
    font-size: 14px;
    text-align: center;
    border-top: 4px solid #aaa;
    position: relative;
}
.left_right .txtb1{
    position: absolute;
    left: -14px;
    font-size: 18px;
    color: #999;
}
.left_right .txtb2{
    position: absolute;
    left: -24px;
    font-size: 18px;
    color: #999;
}
.current_time{
    border-top: 4px solid red;
    color: red;
}
.hiddenFood{
    visibility: hidden;
}
.visibleFood{
    visibility:visible;
}
.setZeroFood{
    height: 0;
}
.carousels_height{
    height: 330px;
}
.timeLine_height{
    height: 50px;
}
