<div class="person_container">
    <div class="person_big">
        <div class="container-fluid person-container01" style="min-width: 540px">
            <div class="row">
                <!--左侧布局-->
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="margin: auto">
                    <h3 class="super-title">达人推荐</h3>
                    <!--达人推荐-->
                    <div class="row person-push-row" >
                        <!--达人推荐的菜谱-->
                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                            <div class="thumbnail">
                                <img src="images/person/person_push_dish01.jpg" alt="" style="pointer-events: none;">
                                <div class="caption" style="margin-top: -10px">
                                    <h4>凉拌猪肉片</h4>
                                    <div class="row span-css" style="height:22px;">
                                        <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
                                            <img src="http://localhost:3009/uploads/{{User_Master[0].head_photo}}" alt="" >
                                        </div>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                            <p class="hand" ng-bind="User_Master[0].user_sname" ui-sref="master" ng-click="Master(User_Master[0].user_id)" style="margin-top: -6px"></p>
                                        </div>
                                    </div>
                                    <p style="color: #606070" class="p-css">
                                    初夏的到来，凉拌菜成了我家厨房的必需品，今天给大家分享一道口感爽脆、开胃解腻的两半猪肉片
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--其他菜-->
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <!--第一行-->
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="thumbnail">
                                        <img src="images/person/person_push_dish03.jpg" alt="..." style="pointer-events: none;">
                                        <div class="caption" style="margin-top: -10px">
                                            <h4>凉拌菠萝</h4>
                                            <div class="row span-css" style="height:22px;">
                                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                    <img src="http://localhost:3009/uploads/{{User_Master[2].head_photo}}" alt="">
                                                </div>
                                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                    <p class="hand" ng-bind="User_Master[2].user_sname" ui-sref="master" ng-click="Master(User_Master[2].user_id)" style="margin-top: -6px"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="thumbnail">
                                        <img src="images/person/person_push_dish02.jpg" alt="..." style="pointer-events: none;">
                                        <div class="caption" style="margin-top: -10px">
                                            <h4>白菜炖香芋</h4>
                                            <div class="row span-css" style="height:22px;">
                                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                    <img src="http://localhost:3009/uploads/{{User_Master[3].head_photo}}" alt="">
                                                </div>
                                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                    <p class="hand" ng-bind="User_Master[3].user_sname" ui-sref="master" ng-click="Master(User_Master[3].user_id)" style="margin-top: -6px"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--第二行-->
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="thumbnail">
                                        <img src="images/person/person_push_dish04.jpg" alt="..." style="pointer-events: none;">
                                        <div class="caption" style="margin-top: -10px">
                                            <h4>豆豉蒸排骨</h4>
                                            <div class="row span-css" style="height:22px;">
                                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                    <img src="http://localhost:3009/uploads/{{User_Master[4].head_photo}}" alt="">
                                                </div>
                                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                    <p class="hand" ng-bind="User_Master[4].user_sname" ui-sref="master" ng-click="Master(User_Master[4].user_id)" style="margin-top: -6px"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="thumbnail">
                                        <img src="images/person/person_push_dish05.jpg" alt="..." style="pointer-events: none;">
                                        <div class="caption" style="margin-top: -10px">
                                            <h4>焦糖杏鲍菇</h4>
                                            <div class="row span-css" style="height:22px;">
                                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                    <img src="http://localhost:3009/uploads/{{User_Master[5].head_photo}}" alt="">
                                                </div>
                                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                    <p class="hand" ng-bind="User_Master[5].user_sname" ui-sref="master" ng-click="Master(User_Master[5].user_id)" style="margin-top: -6px"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--结束右侧推荐-->
                    </div>
                    <!--结束菜品推荐-->
                    <!--最近动态-->
                    <h3 class="super-title">精选动态</h3>
                    <div class="container-fluid" style="padding: 0px">
                        <div class="row lately-topic-row" style="margin: auto">
                            <!--左侧-->
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 lately-topic-left" style="background-color: white;">
                                <div class="media" style="margin-left: -15px;">
                                    <div class="media-left">
                                        <img ui-sref="topicDetails" src="http://localhost:3009/upload_topic_pics/{{Dish_Master_topic_01.topic_photo}}" alt="" ng-click="topic_master(Dish_Master_topic_01.topic_id)">
                                    </div>
                                    <div class="media-body">
                                        <span id="lately_title01" ng-bind="Dish_Master_topic_01.topic_name" ui-sref="topicDetails" ng-click="topic_master(Dish_Master_topic_01.topic_id)"></span>
                                        <p>“轻食主义”初始定义是指分量少而容易吃饱的食物。演变成少糖少盐且富含高纤维和营养的食物。</p>
                                    </div>
                                </div>
                            </div>
                            <!--右侧-->
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 lately-topic-right" style="background-color: white;margin-left: 39px">
                                <div class="media" style="margin-right: -16px;">
                                    <div class="media-body">
                                        <span id="lately_title02" ng-bind="Dish_Master_topic_02.topic_name" ui-sref="topicDetails" ng-click="topic_master(Dish_Master_topic_02.topic_id)"></span>
                                        <p>它以低热量的食材，取代使人们不再过分追求食物的“色香味”，简单地理解为满足口腹之欲的享乐。</p>
                                    </div>
                                    <div class="media-right">
                                        <img ui-sref="topicDetails" src="http://localhost:3009/upload_topic_pics/{{Dish_Master_topic_02.topic_photo}}" alt="" ng-click="topic_master(Dish_Master_topic_02.topic_id)">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--第二行-->
                        <div>&nbsp;</div>
                        <div class="row lately-topic-row" style="margin: auto">
                            <!--左侧-->
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 lately-topic-left" style="background-color: white;">
                                <div class="media" style="margin-left: -15px;">
                                    <div class="media-left media-bottom">
                                        <img ui-sref="topicDetails" src="http://localhost:3009/upload_topic_pics/{{Dish_Master_topic_03.topic_photo}}" alt="" ng-click="topic_master(Dish_Master_topic_03.topic_id)">
                                    </div>
                                    <div class="media-body">
                                        <span id="lately_title03" ng-bind="Dish_Master_topic_03.topic_name" ui-sref="topicDetails" ng-click="topic_master(Dish_Master_topic_03.topic_id)"></span>
                                        <p>北京地铁上总能遇到要求扫码的“创业者”，多数都自称创业者和营养师，推销的产品多为减肥代餐品。</p>
                                    </div>
                                </div>
                            </div>
                            <!--右侧-->
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 lately-topic-right" style="background-color: white;margin-left: 39px">
                                <div class="media" style="margin-right: -16px;">
                                    <div class="media-body">
                                        <span id="lately_title04" ng-bind="Dish_Master_topic_04.topic_name" ui-sref="topicDetails" ng-click="topic_master(Dish_Master_topic_04.topic_id)"></span>
                                        <p>这种宣称“通过蛋白产生果腹感”的减肥产品，到了后来词义被慢慢扩大丰富，引发了不少人的关注。</p>
                                    </div>
                                    <div class="media-right media-bottom">
                                        <img ui-sref="topicDetails" src="http://localhost:3009/upload_topic_pics/{{Dish_Master_topic_04.topic_photo}}" alt="" ng-click="topic_master(Dish_Master_topic_04.topic_id)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--第二行-->
                    <!--结束最近动态-->
                </div><!--结束左侧布局-->
                <!--右侧布局-->
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <!--成为达人介绍-->
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div  class="apply-person"  style="pointer-events: none">
                        <span class="person-title apply-person-title">人气 <span style="font-size: 11px">up</span> <span style="font-size: 15px">up</span> <span style="font-size: 20px">up</span></span>
                        <div class="right-style page">
                            <img src="images/person/super_plan.png" alt="" class="img-responsive" style="width: 180px;margin: auto;padding-top: 10px">
                            <p style="padding: 15px;font-size: 16px;color: #000;">
                                <span>如果你热爱烹饪、热爱生活并乐于分享，那你是否乐意成为达人，让更多的人认识你？</span>
                                <span>只需在本网站保持活跃度，经常发布菜谱或话题,且一周内发布菜谱和话题数量居前七的，达人榜就有你哦！！</span>
                                <span>想让魅力值up up up的你，要积极参与噢，让更多的人早日知道你！！</span>
                            </p>
                        </div>
                    </div>
                    <!--本周达人排行-->
                    <div class="this-person-ranking">
                        <span class="person-title this-person">本周达人排行</span>
                        <div class="right-style page01" style="padding-top: 15px;padding-bottom: 15px">
                            <div class="media" style="padding-left: 15px;height:55px;border-bottom: dashed 1px rgba(255,0,0,0.38);" ng-repeat="part in User_Master">
                                <div class="media-left media-middle">
                                    <img ui-sref="master" src="http://localhost:3009/uploads/{{part.head_photo}}" alt="" class="img-circle hand">
                                </div>
                                <div class="media-body" style="padding-left: 25px">
                                    <h5 class="media-heading hand" ng-bind="part.user_sname" ui-sref="master" ng-click="Master(part.user_id)"></h5>
                                    发布<span id="publish_dish_num01" ng-bind="part.dish_count"></span>道菜谱
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--结束本周达人排行-->
                </div>
                <!--结束右侧-->
            </div>
        </div>
        <!--结束person-container01-->
        <!--优质内容-->
        <h3 style=" margin-top: 50px;">优质内容</h3>
        <div class="row container-fluid person-container02" style="margin: auto">
            <!--第一行-->
            <div class="row dish-row good-content" style="margin-top: 20px">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" ng-repeat="part in Dish_Master_01">
                    <div class="thumbnail">
                        <img src="http://localhost:3009/images/dishPic/{{part.dish_photo}}" alt="" class="hand" style="height: 186px;width: 330px;" ui-sref="dishDetails" ng-click="dish_master(part.dish_id)">
                        <div class="caption good-menu-content">
                            <h4 class="hand" ng-bind="part.dish_name" ui-sref="dishDetails" ng-click="dish_master(part.dish_id)"></h4>
                            <p class="good-menu-content-p">
                                <span>4</span> <span style="pointer-events: none">浏览</span> <span style="font-weight: 600">·</span>
                                <span ng-bind="part.dish_comment"></span> <span>评论</span> <span style="font-weight: 600">·</span>
                                <span ng-bind="part.dish_click"></span> <span>赞</span>
                            </p>
                            <p ng-bind="part.user_sname" ui-sref="master" ng-click="Master(part.user_id)" class="p-css01 hand"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--第二行-->
            <div class="row dish-row good-content" style="margin-top: 20px">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" ng-repeat="part in Dish_Master_02">
                    <div class="thumbnail">
                        <img src="http://localhost:3009/images/dishPic/{{part.dish_photo}}" alt="" class="hand" style="height: 186px;width: 330px;" ui-sref="dishDetails" ng-click="dish_master(part.dish_id)">
                        <div class="caption good-menu-content">
                            <h4 class="hand" ng-bind="part.dish_name" ui-sref="dishDetails" ng-click="dish_master(part.dish_id)"></h4>
                            <p class="good-menu-content-p">
                                <span>4</span> <span style="pointer-events: none">浏览</span> <span style="font-weight: 600">·</span>
                                <span ng-bind="part.dish_comment"></span> <span>评论</span> <span style="font-weight: 600">·</span>
                                <span ng-bind="part.dish_click"></span> <span>赞</span>
                            </p>
                            <p ng-bind="part.user_sname" ui-sref="master" ng-click="Master(part.user_id)" class="p-css01 hand"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--结束优质内容-->
    </div>
</div>