<div ng-switch on="actIsTopicThumb">
    <div ng-switch-default>
        <a href="javascript:void 0" ng-click="addTopicClick()">
            <img src="images/topicDetails-food/click01.png" alt="" style=" width: 25px;margin-left: 60px;margin-top: -47px">
        </a>
    </div>
    <div ng-switch-when="true">
        <a href="javascript:void 0" ng-click="deleteTopicClick()">
            <img src="images/topicDetails-food/click02.png" alt="" style=" width: 25px;margin-left: 60px;margin-top: -47px">
        </a>
    </div>
    <div ng-switch-when="false">
        <a href="javascript:void 0" ng-click="addTopicClick()">
            <img src="images/topicDetails-food/click01.png" alt="" style="width: 25px;margin-left: 60px;margin-top: -47px">
        </a>
    </div>
</div>